.bg{
  background-image: url('/images/abstract-paper-hexagon-white-background_51543-7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto Mono', monospace;
}
.user{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
